* {
  margin: 0;
  /* font-family: 'Work Sans', sans-serif; */
}
/* Banner & Header */
header {
  background-image: url("../images/banner/banner1.png");
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.banner {
  text-align: right;
  padding: 216px 230px 0 0;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  width: 525px;
  margin-left: auto;
  margin-bottom: 30px;
}
.banner-description {
  width: 494px;
  font-size: 19px;
  color: #444343;
  margin-left: auto;
  margin-bottom: 30px;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 20px 26px;
  background: #f15b22;
  border-radius: 5px;
}

/* failure section */
section {
  max-width: 1140px;
  margin: 140px auto 0 auto;
}
.failure {
  display: flex;
  gap: 87px;
  align-items: center;
  /* padding-top: 60px; */
}
.failure-content {
  width: 416px;
}
.content-heading {
  font-weight: 700;
  font-size: 43px;
  color: #151414;
  margin-bottom: 30px;
}
.content-description {
  font-size: 20px;
  color: #444343;
  width: 416px;
  margin-bottom: 30px;
}
.content-list {
  list-style: none;
  padding-left: 0;
}
.content-list li {
  color: #444343;
  font-size: 20px;
}
.fa-check {
  margin-right: 6px;
  color: #16d887;
}

/* my-plans section */
.my-plans {
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.target-container {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
}
.target-name {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin: 20px 0;
}
.target-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}

/* postive-mindset section */
.postive-mindset {
  background-image: linear-gradient(90deg, rgba(197, 92, 12, 0.8)45%,rgba(237, 192, 164, 0.192)), url('../images/watch.png');
  border-radius: 7px;
}
.postive-mindset-contianer {
  width: 459px;
  height: 182px;
  padding: 60px 64px;
}
.positive-title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 30px;
}
.btn-secondary {
  padding: 21px 36px;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  background: #ffffff;
  border-radius: 5px;
  border: 0;
}
/* never-giveup section */
.never-giveup{
  text-align: center;
}
.quoatation-container{
  display: flex;
  gap: 25px;
  justify-content: space-around;
  
}
.quoatation-container .quoatation{
  width: 450px;
  /* height: 400px; */
  background-color: rgba(235, 240, 240, 0.78);
  border-radius: 15px;
  padding: 25px 20px;
}
.quoatation-container .quoatation .fa-quote-left{
  color: #f15b22;
  font-size: 40px;
  margin-bottom: 25px;
}
.quoatation-container .quoatation .quoatation-line{
  height: 25%;
  font-weight: 600;
  line-height:27px;
  font-size: 20px;
  font-style: italic;
}
.quoatation-container .quoatation .author-img{
  margin:30px 0 20px 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.quoatation-container .quoatation .quoatation-author{
  font-weight:bolder;
  font-size: 18px;
}
/* footer */
footer {
  background-color: black;
  color: white;
  margin-top: 140px;
}
.footer-container {
  max-width: 1140px;
  padding-top: 130px;
  padding-bottom: 129px;
  margin: 0 auto;
  display: flex;
  gap: 331px;
}
.social-section {
  width: 485px;
}
.social-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 30px;
}
.social-description,
.conatct-mail,
.contact-number {
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  margin-bottom: 30px;
}
.social-section a {
  margin-right: 10px;
  text-decoration: none;
}
.form-title {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}
footer input[type="email"] {
  background: #000;
  height: 60px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 18px;
  color: #f3f3f3;
  padding: 21px;
}
